/* Общие стили */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
}

/* Раздел "Header" */

header {
    width: 100%;
    max-width: 1440px;
    height: 768px;
    margin: 0 auto;
    background-image: url(image/header.png);
    background-repeat: no-repeat;
    background-position: center top;
}

.header {
    height: 768px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FFFFFF;
}

.logo1 {
    margin: 40px auto 0;
}

.title {
    margin: auto;
    padding-top: 90px;
}

.header_title_1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    font-weight: 400;
    margin: 0;
}

.header_title_2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.scroll {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 70px;
}

/* Раздел "Nav" */

nav {
    width: 100%;
    max-width: 1440px;
    height: 65px;
    margin: 0 auto;
    border-bottom: 1px solid #E6E6E6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo2 {
    padding-top: 5px;
}

.menu {
    text-align: center;
    margin-left: 140px;
}

ul {
    padding: 0;
}

li.menu {
    display: inline;
    margin: 0 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
}

a {
    padding: 20px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #48555B;
}

li :hover {
    color: #00A4E5;
}

li :focus {
    color: #00A4E5;
}

/* Раздел "Our story" */
.story {
    padding: 30px 0;
}

.story_left {
    max-width: 398px;
    margin-right: 50px;
}

.story_title_2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #48555B;
    padding: 30px 0;
}

.story_title_2:after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    display: block;
    margin: 10px auto 10px;
}

.story_inner {
    display: flex;
    justify-content: center;
}

.story_title_3 {
    font-size: 20px;
    font-weight: bold;
    color: #48555B;
}

.accent-color {
    color: #00A4E5;
}

.story_text {
    font-size: 13px;
    font-weight: 400;
    color: #48555B;
}

.story_right {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
}

.story_item {
    padding: 15px;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    width: 140px;
    height: 224px;
    margin-right: 20px;

}

.story_item:nth-child(1) {
    background-image: url(image/story1.png);
}

.story_item:nth-child(2) {
    background-image: url(image/story2.png);
}

.story_item:nth-child(3) {
    background-image: url(image/story3.png);
    margin-right: 0px;
}

@media screen and (max-width: 1440px) {
    .container {
    padding: 0 50px;
}
}

@media screen and (max-width: 1024px) {
    .container {
    padding: 0 15px;
    }
    .story_inner {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) {
    .story_right {
        flex-wrap: wrap;
    }
    .story_item {
        margin-bottom: 20px;
    }
    .story_item:nth-child(3) {
        margin-bottom: 0px;
}
}

/* Раздел "Our capabilites" */

.capabilites {
    margin-top: 100px;
}

.capabilites_top {
    display: flex;
    justify-content: center;
}

.capabilites_title_2 {
    text-transform: uppercase;
    text-align: left;
    text-wrap: nowrap;
    font-weight: bold;
    font-size: 18px;
    color: #48555B;
    margin: 0;
    padding: 0;
}

.capabilites_title_2:after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    display: block;
    margin: 10px 0 10px;
}

.capabilites_text {
    display: block;
    font-weight: 400;
    font-size: 11px;
    color: #48555B;
    text-align: left;
    width: 405px;
    margin: 0 35px 0 150px;
    padding: 5px;
}
.capabilites_button {
    width: 150px;
    height: 40px;
    margin: 0;
    background-color: #00A4E5;
    border: 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
}

.capabilites_button:hover {
    background-color: #00a4e5de;
}

.capabilites_bottom {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
    margin-top: 75px;
}

.capabilites_item {
    color:#48555B;
    width: 290px;
    height: 330px;
    border: 2px solid #E6E6E6;
    margin: 5px 20px;
    padding: 38px 23px;
    
}

.capabilites_title_3 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.capabilites_text_2 {
    font-size: 13px;
    font-weight: 400;
}

@media screen and (max-width: 1024px) {
    .container {
    padding: 0 15px;
    }
    .capabilites_top {
        flex-wrap: wrap;
        /**flex-direction: column;*//
    }
    .capabilites_bottom {
        flex-wrap: wrap;
    }
    .capabilites_text {
        width: 100%;
        text-align: center;
        margin: 5px auto;
    }
}

@media screen and (max-width: 500px) {
    .capabilites_bottom {
        flex-wrap: wrap;
    }
    .capabilites_item {
        margin-bottom: 20px;
    }
    .story_item:nth-child(3) {
    margin-bottom: 0px;
}
}

/* Раздел "Get" */

.get {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    background-image: url(image/get.png);
    background-repeat: no-repeat;
    background-position: center;
}
.container_2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 498px;
}

.get_title {
    width: 350px;
    margin: 120px auto 30px;
    font-size: 30px;
    font-weight: 700;
    color: #48555B;
}

.get_button {
    width: 150px;
    height: 40px;
    margin: 0 0 20px 0;
    background-color: #00A4E5;
    border: 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
}

.get_button:hover {
    background-color: #00a4e5de;
}

/* Раздел "News letter" */

.news_letter {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-color: #171819;
}

.container_3 {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.news_title {
    margin-right: 75px;
    font-size: 22px;
    font-weight: 700;
    color: #FFFFFF;
}

.news_form {
    display: flex;
}

.news_text {
    width: 250px;
    height: 40px;
    margin: 0;
    padding-left: 15px;
    text-align: left;
    border: #FFFFFF;
}
.news_button {
    width: 150px;
    height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #00A4E5;
    border: #00A4E5;
    cursor: pointer;
}

.news_button:hover {
    background-color: #00a4e5de;
}

/* Раздел "Footer" */

.footer {
    width: 100%;
    max-width: 1440px;
    height: 300px;
    margin: 0 auto;
    background-color: #141A20;
}

.container_4 {
    width: 100%;
    height: 300px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bg {
 display: flex;
 justify-content: space-between;
}

.bg_item {
    height: 170px;
}

.bg_item:nth-child(1) {
    width: 250px;
    padding: 0 16px;
}

.bg_item:nth-child(2) {
    width: 260px;
    padding: 0 15px;
}

.bg_item:nth-child(3) {
    width: 140px;
    padding: 0 15px;
}

.bg_item:nth-child(4) {
    margin-top: 30px;
    padding: 0 15px;
}

.foot_title {
    font-size: 11px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
}

.foot_text {
    font-size: 11px;
    font-weight: 400;
    color: #FFFFFF;
}

.foot_table {
    width: 230px;
    text-align: left;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.85px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.copyright {
    margin: 20px auto;
    text-align: center;
}

.copyright_text {
    font-size: 11px;
    font-weight: 40;
    color: #FFFFFF;
}


